@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
  color: #333;
  font-size: 11pt;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 60px;
}

#subheading {
  margin-top: -25px;
  position: relative;
}

#footer {
  font-size: 8pt;
  position: absolute;
  bottom: 0;
  padding: 10px;
  color: #ccc;
}

#linklist,
#linklist a {
  color: #ccc;
}

#badges img {
  vertical-align: middle;
}

#badges {
  padding-top: 20px;
}

h1 {
  font-weight: 300;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }

  #footer {
    color: #aaa;
  }

  #linklist,
  #linklist a {
    color: #aaa;
  }
}